# PostgreSQL
POSTGRES_DB=lubelog
POSTGRES_APP_USER=lubelog_app
POSTGRES_APP_PASSWORD=lubelog_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=lubelog_password

KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/lubelog
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/lubelog/protocol/openid-connect/certs
KC_HOSTNAME=localhost

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/lubelog

# Mail
MAIL_HOST=smtp.resend.com
MAIL_PORT=587
MAIL_USERNAME=resend
MAIL_PASSWORD=your_api_key_here
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true
MAIL_FROM=your@email.com

# AI
GEMINI_API_KEY=your_gemini_api_key_here
PERPLEXITY_API_KEY=your_perplexity_api_key_here