# PostgreSQL
POSTGRES_DB=lubelog
POSTGRES_APP_USER=lubelog_app
POSTGRES_APP_PASSWORD=lubelog_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=lubelog_password

KEYCLOAK_ISSUER_URI=http://localhost:8080/realms/lubelog
KEYCLOAK_JWK_SET_URI=http://keycloak:8080/realms/lubelog/protocol/openid-connect/certs
KC_HOSTNAME=localhost

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/lubelog

# Mail
MAIL_HOST=smtp.your-provider.com
MAIL_PORT=587
MAIL_USERNAME=your@email.com
MAIL_PASSWORD=secret
MAIL_SMTP_AUTH=true
MAIL_SMTP_STARTTLS=true