# PostgreSQL
POSTGRES_DB=lubelog
POSTGRES_APP_USER=lubelog_app
POSTGRES_APP_PASSWORD=lubelog_password
POSTGRES_KEYCLOAK_USER=lubelog_keycloak
POSTGRES_KEYCLOAK_PASSWORD=lubelog_password

# Keycloak
KEYCLOAK_ADMIN=admin
KEYCLOAK_ADMIN_PASSWORD=lubelog_password

# Spring Boot
SPRING_DATASOURCE_URL=jdbc:postgresql://postgres:5432/lubelog